h1 { 
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #060d29;
  height: 400px;
}

.column {
  width: 400px;
  height: 250px;
  margin: 20px;
  background-color: #222950;
  text-align: center;
}

.account {
  color: #ffffff;
}

.circle-one {
  width: 120px;
  height: 120px;
  background: transparent;
  border: 2px solid #33caa8;
  border-radius: 50%;
  margin: auto;
}

.circle-two {
  width: 120px;
  height: 120px;
  background: transparent;
  border: 2px solid #ffd85a;
  border-radius: 50%;
  margin: auto;
}

.amount {
  color: #ffffff;
  padding-top: 25px;
}

.send-money {
  color: #ffffff;
  background-color: #008dd3;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
    height: 600px;
  }

  .column {
    width: 250px;
    height: 250px;
    margin: 20px;
    background-color: #222950;
    text-align: center;
  }
}
